<!DOCTYPE html>
<html>

<head>
  <title>Secret</title>
</head>

<body>
  <h1 class="user">Secret from <%= user %></h1>
  <div class="card">
    <p>
      <%= secret %>
    </p>
  </div>
</body>

</html>
